<div class="container story-body" role="main">
<div class="row" style="padding-top:30px;">
			<div class="col-sm-2 col-lg-2 text-center story-label">
			</div>
			<div class="col-sm-5 col-sm-offset-5 col-lg-3 col-lg-offset-7 text-center">
  				<span><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x btn-fb"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a></span>
  				<span><a href="https://twitter.com/share?url={{ site.url }}{{ page.url }}&text={{ page.title }}"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x btn-twit"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></span>
  				<span><a href="mailto:?body=Good I am interested {{ site.url }}{{ page.url }}&subject=Check out this story from Cronkite News: {{ page.title }}"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x btn-email"></i><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></a></span>
  		
  		</div>
  		</div>

