</section>
<div class="home-brand phototron jumbotron">
	<video class="animated fadeIn img-responsive" autoplay loop id="snow">
		<source src="/assets/snowfall.webm" type="video/webm">
		<source src="/assets/snowfall.mp4" type="video/mp4">
	</video>
		<div clas="overlay col-xs-6 col-xs-offset-3">     	     
      	      <im src="/assets/logos/rightdeo.gif" class="img-responsive hidden-xs animated hinge fadeIn col-xs-12" />
		<h3 class="text-center proj-desc animated hinge fadeIn" style="text-shadow: 1px 1px #ccc;">Godly Aromas for Divine Occassions</h3>
      			   
      		</div>
      </div>
      
      
      
